.feed-index {
    flex: 0.5;
    min-height: 100vh;
    border-top: none;
    border-collapse: collapse;
    height: fit-content;
    border-right: $outline1;
    border-left: $outline1;
    max-height: fit-content;
    .post-preview:nth-child(1) {
        border-top: none;
    }
}

@media (max-width: 1700px) {
    .feed-index {
        flex: 0.7;
    }
}

@media (max-width: 850px) {
    .feed-index {
        flex: 1;
        border-right: none;
        border-left: none;
    }
}
