.post-list {
    box-shadow: $boxShadow1;
}

.no-squeaks-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    .no-squeaks-para {
        font-size: 25px;
        text-align: center;
        color: $mainColor0;
        &:last-child {
            margin: auto;
            width: 500px;
            padding: 20px;
            outline: 2px solid $mainColor3;
        }
    }
}
