.post-preview {
    flex-direction: column;
    border-top: $outline1;
    padding: 17px;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    .top-preview {
        display: grid;
        grid-template-columns: 40px 1fr;
        height: 100%;
    }
    .post-info-container {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .top-cred {
        display: flex;
        gap: 8px;
        align-items: center;
        padding-left: 10px;
    }
    .user-avatar {
        font-weight: 500;
        text-shadow: 1px 1px 1px $mainColor1;
        &:hover {
            filter: brightness(95%);
            cursor: pointer;
        }
    }
    .user-avatar,
    h1,
    h2 {
        cursor: pointer;
    }
    h1 {
        font-size: 15px;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
    h2 {
        font-size: 15px;
        color: $mainColor2;
        font-weight: 400;
    }
    h3 {
        font-size: 10px;
        color: $mainColor2;
    }
    .post-txt {
        white-space: pre-wrap;
        width: 95%;
        padding-left: 10px;
        font-size: 15px;
        text-align: left;
        font-family: $mainFont, sans-serif;
    }
    .verified-logo {
        color: $logoColor;
        font-size: 18px;
    }
    .post-date {
        font-size: 15px;
        color: $mainColor2;
        font-weight: 400;
    }

    .more-icon {
        position: absolute;
        right: 0;
        margin-inline-end: 10px;
        color: $mainColor2;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
    .more-icon.mobile {
        display: none;
    }
    img {
        width: 100%;
    }
    .post-photo {
        height: 288px;
        width: 90%;
        border-radius: 20px;
        margin-left: 5px;
        object-fit: fill;
        object-position: center center;
        border: none;
        margin-top: 20px;
        outline: $outline1;
        transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out;
        &:hover {
            cursor: pointer;
            filter: brightness(90%);
        }
    }

    &:hover {
        &:not(img) {
            cursor: pointer;
        }
    }
}

.post-icons {
    display: flex;
    justify-content: start;
    padding-left: 48px;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0px 0px;
    color: $mainColor2;
    svg {
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
    svg.liked {
        color: rgb(222, 83, 83);
    }
    svg.unliked {
        &:hover {
            color: rgb(222, 83, 83);
        }
    }
    .icon-container {
        position: relative;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            position: absolute;
            font-size: 15px;
            font-family: $mainFont;
            position: absolute;
            left: calc(100% + 4px);
            top: 50%;
            transform: translateY(-50%);
        }
        gap: 2px;
    }
    .more-icon.mobile {
        display: none;
    }
}

.liked {
    animation: pop 0.3s;
}

.unliked {
    animation: pop 0.3s;
}

.light {
    .more-icon {
        &:hover {
            color: $mainColor1;
        }
    }
    .post-icons {
        color: $mainColor1;
        svg {
            &:hover {
                color: $logoColor;
            }
        }
        svg.liked {
            color: rgb(222, 83, 83);
        }
        svg.unliked {
            &:hover {
                color: rgb(222, 83, 83);
            }
        }
    }
}

@media (max-width: 768px) {
    .post-preview {
        padding: 15px 10px;
        img {
            width: 96%;
        }
        .post-txt {
            font-family: 'Outfit', sans-serif;
        }
        .more-icon {
            display: none;
        }
        .more-icon.mobile {
            display: block;
        }
        .post-photo {
            width: 98.5%;
        }
    }
}

.squeak-concat {
    width: 20px;
}

mark {
    background-color: $logoColor;
    color: $mainColor1;
    font-weight: 800;
    border-radius: 3px;
}
