.img-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-modal {
    height: 288px;
    width: 65vw;
    height: fit-content;
    border-radius: 20px;
    margin-left: 5px;
    object-fit: fill;
    object-position: center center;
    border: none;
    margin-top: 20px;
    outline: $outline1;

    @keyframes scaleAnimation {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    &.scale-animation {
        animation: scaleAnimation 0.3s ease; /* Adjust the duration and timing function as needed */
    }
}

@media (max-width: 768px) {
    .img-modal-container {
        img {
            outline: none;
            border-radius: 0px;
            width: 100vw;
            height: 50%;
            object-fit: fill;
            object-position: center center;
        }
    }
}
