.squeak-box {
    padding: 15px 17px;
    border-bottom: $outline1;
    .squeak-input-container {
        margin-bottom: 15px;
        display: flex;
        gap: 20px;
        align-items: start;
        .squeak-textarea {
            width: 100%;
            padding-left: 5px;
            resize: none;
            overflow: hidden;
            font-size: 18px;
            outline: none;
            border: none;
            word-break: break-all;
            background-color: $mainColor1;
            color: white;
            font-family: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .squeak-input:focus {
            color: white;
        }
    }
    .squeak-box-btns {
        width: 100%;
        padding-left: 64px;
        display: flex;
        align-items: end;
        flex-direction: row-reverse;
        justify-content: space-between;
        .squeak-btn {
            background-color: $logoColor;
            color: white;
            border: none !important;
            font-weight: 600;
            text-transform: inherit;
            border-radius: 30px;
            font-size: 1em;
            width: fit-content;
            padding: 7px 10px;
            &:hover {
                cursor: pointer;
                filter: brightness(90%);
            }
        }
        .left-icons {
            label {
                display: flex;
            }
            display: flex;
            align-items: center;
            font-size: 10px;
            gap: 10px;
            color: white;
            .icon {
                font-size: 20px;
                cursor: pointer;
                &:hover {
                    color: $logoColor;
                }
            }
            .gif {
                outline: 1px solid $squeakIconsColor1;
                border-radius: 2px;
                font-size: 15px;
            }
        }
    }

    .menu-container {
        position: absolute;
        z-index: 1;
    }

    .file-upload-input {
        position: absolute;
        width: 20px;
        background-color: transparent;
        opacity: 0;
        button {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .post-content {
        width: 100%;
    }

    .post-content .squeakbox-img {
        height: 288px;
        width: 90%;
        border-radius: 20px;
        object-fit: fill;
        object-position: center center;
        margin-top: 20px;
        outline: 1px solid #2f3336;
    }
    .img-container {
        position: relative;
        button {
            position: absolute;
            margin-top: 20px;
            margin-left: -29px;
            border-radius: 0px 20px 0px 10px;
            &:hover {
                filter: brightness(90%);
                color: $logoColor;
            }
        }
    }
}

.remove-photo-btn {
    background-color: $mainColor3;
    margin-top: 5px;
    color: white;
    border: none !important;
    font-weight: 600;
    text-transform: inherit;
    border-radius: 30px;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
    padding: 7px 10.5px;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.light {
    .squeak-box{
        border-bottom: 1px solid $mainColor1;
        background-color: $mainColor0;
    }
    .squeak-input-container {
        background-color: $mainColor0;
        .squeak-textarea {
            color: $mainColor1;
            background-color: $mainColor0;
        }
    }
    .squeak-box-btns{
        .left-icons{
            color: $mainColor1;
        }
    }
}

@media (max-width: 768px) {
    .squeak-box {
        padding: 10px;
    }
    .squeak-box.active {
        display: block;
    }
}
