.post-preview {
    border-bottom: $outline1;
    padding: 17px;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    .top-cred {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    h1 {
        font-size: 15px;
        font-weight: 500;
    }
    h2 {
        font-size: 15px;
        color: $mainColor2;
        font-weight: 400;
    }
    .post-txt {
        width: 90%;
        text-align: justify;
    }
    .verified-logo {
        color: $logoColor;
    }
    .post-txt {
        padding-left: 48px;
        text-align: left;
    }
    .post-date {
        font-size: 15px;
        color: $mainColor2;
        font-weight: 400;
    }
}

.more-icon {
    position: absolute;
    right: 0;
    margin-inline-end: 10px;
    color: $mainColor2;
}
