.feed-index {
    flex: 0.5;
    border-top: none;
    border-collapse: collapse;
    height: fit-content;
    padding-bottom: 80px;
    border-right: $outline1;
    border-left: $outline1;
}

@media (max-width: 768px) {
    .feed-index {
        flex: 1;
        border-right: none;
        border-left: none;
    }
}
