.topbar-container {
    position: sticky;
    top: 0;
    background-color: $mainColor1;
    z-index: 100;
    border-bottom: 1px solid $mainColor2;
    width: 100%;
    z-index: 100;
    h1 {
        padding-left: 10px;
        padding-top: 10px;
    }
    .topbar-btns {
        display: flex;
        button {
            color: $mainColor2;
            width: 100%;
            padding: 20px;
            background-color: $mainColor1;
            cursor: pointer;
            border: none;
            outline: none;
            &:hover {
                background-color: $hoverClr2;
            }
            font-size: 16px;
        }
        .selected {
            box-shadow: 0px 5px 0px 0px $logoColor;
            font-weight: 700;
            color: white;
        }
    }
}
