.feed-index {
    flex: 0.5;
    border-top: none;
    border-collapse: collapse;
    height: fit-content;
    padding-bottom: 20px;
    border-right: $outline1;
    border-left: $outline1;
    min-height: 100vh;
    max-height: fit-content;
}

@media (max-width: 1700px) {
    .feed-index 
    {
        flex: 0.7;
    }
}


@media (max-width: 850px) {
    .feed-index {
        flex: 1;
        border-right: none;
        border-left: none;
    }
}
