.feed-index {
    box-shadow: $boxShadow1;
    flex: 0.65;
    border: 1px solid $mainColor2;
    border-top: none;
    border-collapse: collapse;
    height: fit-content;
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .feed-index {
        flex: 1;
    }
}
