.img-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    img{
        outline: 1px solid $mainColor2;
        border-radius: 10px;
        width: 50vw;
        height: auto;
    }
}

@media (max-width: 768px) {
    .img-modal{
        background-color: $mainColor1;
        img{
            outline: none;
            border-radius: 0px;
            width: 100vw;
            height: 50%;
        }
    }
    
}