.mobile-topbar-container {
    display: flex;
    align-items: center;
    padding: 9px;
    justify-content: space-between;
    display: none;
    .twitter-icon {
        position: absolute;
        left: 48%;
        color: $logoColor;
    }
    .MuiAvatar-root {
        font-size: 12px;
        width: 30px;
        height: 30px;
        margin-left: 6px;
    }
    .user-avatar
    {
        cursor: pointer;
        &:hover{
            filter: brightness(95%);
        }
    }
}

@media (max-width: 768px) {
    .mobile-topbar-container {
        display: flex;
    }
}
