.mobile-topbar-container {
    display: flex;
    align-items: center;
    border-bottom: $outline1;
    padding: 10px;
    justify-content: space-between;
    display: none;
    .twitter-icon{
        position: absolute;
        left: 48%;
        color: $logoColor;
    }
}

@media (max-width: 768px) {
    .mobile-topbar-container {
        display: flex;
    }
}
