.tweetify-player-container {
    transition: transform 0.5s ease-in-out;
    background-color: $mainColor1;
    border-top: 1px solid $mainColor3;
    padding: 20px;
    padding: 20px;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    gap: 15px;
    svg {
        cursor: pointer;
        &:hover {
            filter: brightness(100%);
            color: $logoColor;
        }
    }
    .song-container {
        margin: 10px 15px;
        left: 0;
        width: fit-content;
        position: absolute;
        display: flex;
        gap: 10px;
        .song-img {
            border-radius: 10%;
            background-color: $mainColor0;
            width: 40px;
            height: 40px;
        }
        h3 {
            color: $mainColor0;
            font-weight: 500;
            font-size: 15px;
        }
        h4 {
            color: $mainColor2;
            font-weight: 100;
            font-size: 12px;
        }
    }
    // ? play btn
    svg:nth-child(3) {
        &:hover {
            color: $mainColor1;
        }
        font-size: 30px;
        padding: 2px;
    }
}

.tweetify-player-container.show {
    transform: none;
}

.tweetify-player-container.hide {
    transform: translateY(90%);
}

.icon-circle {
    background-color: $mainColor0;
    border-radius: 50%;
    color: $mainColor1;
}

@media (max-width: 1000px) {
    .squeak-btn {
        display: none;
    }
    .tweetify-player-container {
        position: fixed;
        background-color: #333;
        z-index: 100;
        height: 50px;
        width: 100%;
        svg:nth-child(1),
        svg:nth-child(5) {
            display: none;
        }
        .song-container {
            transition: scale 0.1s ease-in-out;
            border-radius: 10px;
            &:hover {
                filter: brightness(100%);
                scale: 1.05;
                cursor: pointer;
            }
            .song-cred {
                width: 80px;
                margin: 0px 0px;
                h3 {
                    font-size: 11px;
                }
                h4 {
                    font-size: 9px;
                    color: $logoColor;
                }
            }
        }
    }
}
