.tweetify-player-container {
    background-color: $mainColor1;
    border-top: 1px solid $mainColor3;
    color: $logoColor;
    padding: 20px;
    padding: 20px;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    gap: 15px;
    svg {
        cursor: pointer;
        filter: brightness(90%);
    }
    .song-container {
        margin-left: 15px;
        left: 0;
        width: fit-content;
        position: absolute;
        display: flex;
        gap: 10px;
        .song-img {
            border-radius: 10%;
            background-color: white;
            width: 30px;
            height: 30px;
        }
        h3 {
            color: white;
            font-weight: 500;
            font-size: 17px;
        }
        h4 {
            color: white;
            font-weight: 100;
            font-size: 14px;
        }
    }
}

.icon-circle {
    background-color: $mainColor0;
    border-radius: 50%;
    color: black;
}
