* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
img {
    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

body {
    font-family: $mainFont;
    color: $mainColor0;
}

.app-container {
    display: flex;
    background-color: $mainColor1;
    grid-template-columns: 1fr 1fr 500px;
    height: fit-content;
    justify-content: center;
}

.light {
    color: $mainColor6;
    background-color: $mainColor0;
}

.dark {
    color: $mainColor0;
    background-color: $mainColor1;
}
