* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $mainColor1;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

section,
main,
footer {
}

// img {
//     width: 100%;
// }

p {
}

a {
}
a:hover {
}

.app-container {
    display: flex;
    height: fit-content;
    justify-content: center;
}
