.comments-list {
    background-color: $mainColor5;
    margin: 0px;
    border: none;
    padding: 0px;
    min-height: fit-content;
    max-height: 500px;
    overflow: auto;
    .post-preview {
        border-top: none;
        &:nth-child(2n) {
            background-color: $mainColor4;
        }
    }
}
