.comments-list {
    background-color: rgb(57, 57, 57);
    margin: 0px;
    border: none;
    padding: 0px;
    min-height: fit-content;
    max-height: 500px;
    overflow: auto;
    .squeak-box {
        background-color: $mainColor1;
        border-bottom: none;
    }
    .post-preview {
        border-bottom: none;
        border: none;
        border-top: none;
        &:nth-child(2n) {
            background-color: rgb(33, 33, 33);
        }
    }
}
