.sidebar-container {
    display: flex;
    position: sticky;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    top: 0;
    color: $mainColor0;
    z-index: 100;
    .squeak-btn {
        padding: 0;
        margin: 0;
        background-color: $logoColor;
        color: $mainColor0;
        border: none !important;
        font-weight: 600;
        text-transform: inherit;
        height: 52px;
        border-radius: 30px;
        font-size: 1.2em;
        width: 232px;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            filter: brightness(90%);
        }
    }
    .squeak-btn.mobile {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 45px;
        height: 45px;
        transform: translateY(-145%) translateX(-15%);
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

.sidebar-container.mobile {
    background-color: #333;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: start;
    border-top: 1px solid $mainColor2;
    padding: 5px 5px;
    margin: 0px;
    top: unset;

    .sidebar-option {
        font-size: 15px;
        margin: 0px;
        &:nth-child(1),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(5),
        &:nth-child(4) {
            display: none;
        }
    }
}

.light {
    .sidebar-container {
        color: $mainColor1;
    }
}

.logo-container {
    background-color: beige;
    img {
        font-size: 30px;
        color: $mainColor0;
    }
}
