.sidebar-container {
    display: flex;
    position: sticky;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    top: 0;
    color: $mainColor0;
    z-index: 100;
    .squeak-btn {
        padding: 0;
        margin: 0;
        background-color: $logoColor;
        color: $mainColor0;
        border: none !important;
        font-weight: 600;
        text-transform: inherit;
        height: 52px;
        border-radius: 30px;
        font-size: 1.2em;
        width: 232px;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            filter: brightness(90%);
        }
    }
    .squeak-btn.mobile {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 45px;
        height: 45px;
        transform: translateY(-145%) translateX(-15%) werwer;
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

@media (max-width: 768px) {
    .left-menu {
        bottom: 0;
        height: 100%;
    }
}
.sidebar-container.mobile {
    position: fixed;
    bottom: 0;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    .sidebar-option:first-child {
        position: absolute;
        left: 0;
        top: -7px;
    }
    .sidebar-option {
        font-size: 16px;
        margin: 0px;
        &:nth-child(6),
        &:nth-child(4) {
            display: none;
        }
        &:hover {
            background-color: unset;
        }
    }
}

.light {
    .sidebar-container {
        color: $mainColor1;
    }
}

.logo-container {
    background-color: beige;
    img {
        font-size: 30px;
        color: $mainColor0;
    }
}
