.sidebar-container {
    display: flex;
    position: sticky;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    top: 0;
    color: white;
    .squeak-btn {
        padding: 0;
        margin: 0;
        background-color: $logoColor;
        color: white;
        border: none !important;
        font-weight: 600;
        text-transform: inherit;
        height: 52px;
        border-radius: 30px;
        font-size: 1.2em;
        width: 232px;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            filter: brightness(90%);
        }
    }
    .squeak-btn.mobile {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 50px;
        transform: translateY(-130%) translateX(-25%);
    }
}

.sidebar-container.mobile {
    background-color: #333;
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    border-top: 1px solid $mainColor2;
    padding: 5px;
    margin: 0px;
    justify-content: space-around;
    gap: 20px;
    top: unset;

    .sidebar-option {
        font-size: 15px;
        margin: 0px;
        &:nth-child(1) {
            display: none;
        }
        &:nth-child(6) {
            display: none;
        }
        &:nth-child(7) {
            display: none;
        }
    }
}
