.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: $boxShadow1;
    color: white;
    .squeak-btn {
        padding: 0;
        margin: 0;
        background-color: $logoColor;
        color: white;
        border: none !important;
        font-weight: 600;
        text-transform: inherit;
        height: 52px;
        border-radius: 30px;
        font-size: 1.2em;
        width: 232px;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            filter: brightness(90%);
        }
    }
    .squeak-btn.mobile {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 50px;
        transform: translateY(-100%) translateX(-10%)
    }
}

.mobile {
    .logo:nth-child(1) {
        display: none;
    }
    .logo:nth-child(4) {
    }
    .logo:nth-child(5) {
        display: none;
    }
}

.sidebar-container.mobile {
    background-color: #333;
    width: 100vw;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    left: 0;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
    gap: 20px;
    .sidebar-option {
        font-size: 15px;
        margin: 0px;
    }
}
