.sidebar-option {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 10px;
    gap: 20px;
    width: fit-content;
    cursor: pointer;
    h2 {
        font-size: 1.3em;
        font-weight: 400;
    }
    &:hover {
        border-radius: 30px;
        transition: color 100ms ease-in-out;
        background-color: $hoverClr2;
    }

}

.mobile .sidebar-option{
    padding: 10px;
}

.logo{
    gap: 0px;
}
.active {
    color: $logoColor;
}


