.playlists-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    border-right: $outline1;
    border-left: $outline1;
    max-height: fit-content;
    p {
        font-size: 25px;
        margin: 20px 0px;
        text-align: center;
    }
    .playlists-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0px;
        justify-items: center;
    }
    .tweetify-player-container {
        bottom: 0;
    }
}

@media (max-width: 1000px) {
    .playlists-index {
        p {
            font-size: 20px;
            margin-bottom: 20px;
        }
        flex: 1;
        .playlists-list {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 200px;
        }
    }
}
