.profile-container {
    display: flex;
    position: relative;
    flex-direction: column;
    .profile-bgc-img {
        width: 100%;
        opacity: 0.7;
        height: 200px;
    }
    .user-cred {
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: absolute;
        bottom: -120%;
        left: 20px;
        .edit-container {
            display: flex;
            justify-content: space-between;
            align-items: end;
            button {
                &:hover{
                    cursor: pointer;
                    filter: brightness(90%
                    );
                }
                width: fit-content;
                height: fit-content;
                font-size: 15px;
                padding: 5px 15px;
                margin-right: 20px;
                border-radius: 20px;
                background-color: $mainColor1;
                color: white;
                border: none;
                outline: 1px solid $mainColor2;
            }
        }
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
            color: $mainColor2;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        p {
            font-size: 15px;
        }
    }
    .profile-img {
        border-radius: 50%;
        border: 5px solid black;
        width: 150px;
    }
    .followers-container {
        display: flex;
        gap: 10px;
        p {
            color: $mainColor2;
        }
        span {
            color: white;
            font-weight: 600;
        }
    }
}
