.profile-container {
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    .profile-bgc-img {
        width: 100%;
        opacity: 0.7;
        height: 200px;
        object-fit: cover;
        object-position: center center;
    }
    input {
        margin-top: 10px;
        outline: none;
        background-color: $mainColor1;
        border-radius: 5px;
        color: $mainColor0;
        font-size: 20px;
        width: fit-content;
        border: none;
    }
    textarea {
        resize: none;
        width: 100%;
        background-color: $mainColor1;
        color: $mainColor0;
        border-radius: 5px;
        outline: none;
        border: none;
        font-family: 'Jost';
        font-size: 15px;
    }
    .user-cred {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 15px;
        .edit-container {
            display: flex;
            justify-content: space-between;
            align-items: start;
            button {
                &:hover {
                    cursor: pointer;
                    filter: brightness(90%);
                    background-color: $mainColor3;
                }
                width: fit-content;
                height: fit-content;
                font-size: 15px;
                padding: 5px 15px;
                border-radius: 20px;
                background-color: $mainColor1;
                color: $mainColor0;
                border: none;
                outline: 1px solid $mainColor2;
            }
        }
        h1 {
            margin-top: 15px;
            font-size: 20px;
            width: fit-content;
        }

        h2 {
            font-size: 15px;
            color: $mainColor2;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        p {
            border-radius: 5px;
            font-size: 15px;
            width: fit-content;
        }
    }
    .profile-img {
        border-radius: 50%;
        border: 5px solid $mainColor1;
        width: 150px;
    }
    .new-profile-img {
        border: 3px solid $mainColor1 ;
        width: 150px;
        height: 150px;
        cursor: pointer;
        &:hover {
            filter: brightness(90%);
        }
    }
    .followers-container {
        display: flex;
        gap: 10px;
        p {
            color: $mainColor2;
        }
        span {
            color: $mainColor0;
            font-weight: 600;
        }
    }
}
