.trending-index {
    width: 250px;
    padding: 20px;
    position: sticky;
    top: 0;
    height: fit-content;
    div {
        background-color: $mainColor4;
    }
}

@media (max-width: 768px) {
    .trending-index {
        display: none;
    }
}
