.search-container {
    display: flex;
    align-items: center;
    .searchbar {
        padding: 14px;
        padding-left: 50px;
        border-radius: 30px;
        border: none;
        outline: none;
        width: 30vw;
        min-width: 200px;
        font-size: 13px;
        background-color: $hoverClr2;
        &:focus {
            color: white;
            outline: 1px solid $logoColor;
        }
    }

    .search-icon {
        color: $mainColor2;
        position: absolute;
        margin-left: 10px;
    }
    #focused {
        color: $logoColor;
    }
}
