.trending-preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    .trending-cred {
        padding-left: 10px;
    }
    h3 {
        color: $mainColor2;
        font-size: 12px;
    }
    h2 {
        font-size: 18px;
    }
    &:hover {
        background-color: $mainColor4;
        cursor: pointer;
        &:last-child {
            border-radius: 0px 0px 20px 20px;
        }
    }
}

.light {
    .treding-index {
        .trending-list {
            .trending-preview {
                &:hover {
                    background-color: $mainColor6;
                    cursor: pointer;
                }
            }
        }
    }
}
