.trending-preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    .trending-cred {
        padding-left: 10px;
    }
    h3 {
        color: $mainColor2;
        font-size: 12px;
    }
    h2 {
        font-size: 18px;
    }
    &:hover {
        background-color: $mainColor4;
        cursor: pointer;
        &:last-child {
            border-radius: 0px 0px 20px 20px;
        }
    }
}

.light {
    .trending-list {
        background-color: #bbbbbb52;
        color: $mainColor1;
        h3 {
            color: $mainColor2;
            font-size: 12px;
        }
        .trending-preview {
            &:hover {
                background-color: rgb(204, 204, 204);
            }
        }
    }
}
