.trending-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $mainColor5;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    max-height: 80vh;
    overflow: auto;
    h1 {
        font-weight: 300;
    }
}

.go-back-header-container {
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    width: 157px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background-color: $hoverClr3;
        color: $logoColor;
    }
}

.go-back-header {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
